.DS_*
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.db
*.egg-info
dist
build
pip-wheel-metadata
.vscode
.idea
*.iml
.env
.env.*
.terraform
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
crash.log
